@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&family=Roboto+Slab:wght@300;400;600&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background-color: #61677a;
  overflow: hidden;
}
body::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #fff6e0;
  left: 15%;
  top: 20%;
  filter: blur(100px);
}

body::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #fff6e0;
  right: 30%;
  top: 80%;
  filter: blur(150px);
}

.container {
  width: 25rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.44);
  padding: 20px 30px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-size: 1.6rem;
  text-align: center;
}
.container form {
  margin: 20px 0 10px 0;
}

.container form input {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #999;
  transition: all ease 0.3s;
}
.container form input:hover {
  border: 1px solid #fe0000;
}

.container form .convert-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.container form .amount p {
  padding-bottom: 3px;
}

.container form .from,
.container form .to {
  width: 100%;
}
.container form .from p,
.container form .to p {
  padding-bottom: 3px;
}

.container .convert-box .select-input {
  display: flex;
  border: 1px solid #999;
  width: 100%;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  padding: 0 20px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.container .convert-box .select-input:hover {
  border: 1px solid #fe0000;
}
.container .convert-box .select-input img {
  max-width: 20px;
}

.container .convert-box .select-input select {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  font-size: 1rem;
  margin: 0 -5px 0 5px;
  color: #fff;
}
.container .convert-box .select-input select option {
  color: #000;
}

.container .convert-box .reverse {
  margin: 32px 32px 20px 32px;
  font-size: 22px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: all ease 0.3s;
}
.container .convert-box .reverse:hover {
  color: #fe0000;
}

.container form .result {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.05rem;
  margin: 20px 0 30px;
}
.container form button {
  width: 100%;
  height: 42px;
  background: #999;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.container form button:hover {
  background: #fe0000;
}
